.input {
  font-family: var(--monospace);
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
  background-color: #fefefe;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #00000008;
}

/* 开关 */
.switch input {
  display: none;
}

.switch label {
  display: inline-block;
  position: relative;
  background-color: #e8e8e9;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.switch label::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #fefefe;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 1px 0 1px 0 #00000008;
  transition: left 0.2s;
}

.switch input:checked ~ label {
  background-color: var(--primary);
}

.switch input:checked ~ label::after {
  left: 18px;
  box-shadow: -1px 0 1px 0 #00000008;
}
