.OpenAI-API-quota {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*  */
  border: 2px #999 solid;
  padding: 1rem;
}

.OpenAI-API-quota section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.OpenAI-API-quota h2,
.OpenAI-API-quota p {
  margin: 0;
}
