.header {
  /* 布局 */
  display: flex;
  gap: 8px;
  position: sticky;
  top: 0;
  /*  */
  height: 48px;
  /* max-width: 1080px; */
  margin: 0 auto 24px;
  align-items: center;
  background-color: #fff;
  padding: 0 16px;
  z-index: 10;
  transition: box-shadow 0.3s;
}

.header h1 {
  font-size: 1rem;
  margin: 0;
}

.header nav {
  margin-left: auto;
}

.sticky {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
