.footer {
  background-color: #fff;
  padding: 1rem;
}

.footer .about {
  display: flex;
  justify-content: center;
}

.footer .about nav {
  width: fit-content;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.footer .copyright h2 {
  font-size: 1rem;
  margin: 0;
}
