html {
  font-size: 16px;
}

body {
  /* 重设样式 */
  margin: 0;
  /* 全局 CSS 变量 */
  /* 颜色 */
  --primary: #7455dc;
  /* 字体 */
  --serif: Georgia, 'Times New Roman', 'Source Han Serif', 'Source Han Serif SC',
    serif;
  --sans: 'Helvetica Neue', Helvetica, 'Source Han Sans' 'Source Han Sans SC',
    'Microsoft Yahei', sans-serif;
  --monospace: 'Cascadia Code', 'LXGW WenKai Mono', Monaco, Consolas, monospace;
  /* 全局样式 */
  font-family: 'LXGW WenKai Screen';
  font-size: 1rem;
  line-height: 1;
  color: #000000cc;
  background-color: #f2f2f6;
}

main {
  max-width: 1080px;
  /* margin: 0 auto; */
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* test */
.wrapper {
  display: flex;
  gap: 32px;
}
